/*LANDINGPAGE*/
.fondo1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}

.fondo2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}

.logo {
  position: absolute;
  top: 12%;
  left: 12%;
  transform: translate(-50%, -50%);
}

.bot {
  position: absolute;
  top: 93%;
  left: 95%;
  transform: translate(-50%, -50%);
  width: 150px;
  cursor: pointer;
}

.text1 {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  color: #59d5f0;
}

.text2 {
  position: absolute;
  top: 155%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  color: #35579a;
}

.text3 {
  position: absolute;
  top: 195%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #5a8be9;
}

.text4 {
  position: absolute;
  top: 295%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #5a8be9;
}

.text5 {
  position: absolute;
  top: 220%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #59d5f0;
}

.text6 {
  position: absolute;
  top: 228%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #35579a;
}

.branding {
  position: absolute;
  top: 139%;
  left: 38%;
  transform: translate(-50%, -50%);
}

.campañas {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sistemas {
  position: absolute;
  top: 140%;
  left: 61%;
  transform: translate(-50%, -50%);
}

.ecommerce {
  position: absolute;
  top: 158%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.produccion {
  position: absolute;
  top: 172%;
  left: 57%;
  transform: translate(-50%, -50%);
}

.sitioweb {
  position: absolute;
  top: 174%;
  left: 43%;
  transform: translate(-50%, -50%);
}

.social {
  position: absolute;
  top: 158%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.farmacia {
  position: absolute;
  top: 250%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.universidad {
  position: absolute;
  top: 270%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.kativa {
  position: absolute;
  top: 250%;
  left: 38%;
  transform: translate(-50%, -50%);
}

.fos {
  position: absolute;
  top: 270%;
  left: 38%;
  transform: translate(-50%, -50%);
}

.ucv {
  position: absolute;
  top: 250%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.bengala {
  position: absolute;
  top: 270%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.ekono {
  position: absolute;
  top: 250%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.opcion {
  position: absolute;
  top: 270%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.olva {
  position: absolute;
  top: 250%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.b {
  position: absolute;
  top: 270%;
  left: 85%;
  transform: translate(-50%, -50%);
}

section {
  height: 100vh;
  transition: opacity 0.5s ease;
  opacity: 0;
}

/* Define la clase active para la sección visible */
.active {
  opacity: 1;
}

/* Establece estilos específicos de cada página */
.page1 {
  background-color: #f0f0f0;
}

.page2 {
  background-color: #e0e0e0;
}

.page3 {
  background-color: #d0d0d0;
}

.container {
  height: 100vh; /* Asegura que el contenedor tenga la altura de la pantalla */
  scroll-snap-type: y mandatory; /* Hace que las secciones se adhieran al scroll vertical */
}

section {
  height: 100vh; /* Asegura que cada sección tenga la altura de la pantalla */
  scroll-snap-align: start; /* Alinea cada sección al inicio de la vista */
}

.minibot2 {
  margin-top: 15px;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  background-color: #e5e5e5;
  border-radius: 4px;
}

.texto {
  margin-top: 25px;
  margin-left: 10px;
  padding: 12px 16px;
  border-radius: 0 10px 10px 10px;
  background: #d9d9d9;
  font-size: 12px;
  max-width: 65%;
}
.chatoutgoing {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: flex-end;
  margin-left: 7rem;
  margin-top: 1rem;
}

.chatoutgoing li {
  margin-right: 20px;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  background: #aee9ed;
  font-size: 12px;
  cursor: pointer;
}

.chatoutgoing_response {
  margin-right: 20px;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  background: #aee9ed;
  font-size: 12px;
}

/*CHATBOT LENGUAJE*/
.chatbot {
  position: absolute;

  width: 26rem;
  height: 38rem;
  right: 2rem;
  top: 20rem;
  background: #eeeeee;
  border-radius: 10px;
}

.chatbot header {
  display: flex;
  flex-direction: row;
  background: #17c3ce;
}

.h2s {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chatbot header h2 {
  font-size: 13px;
  color: #fff;
  padding: 10px 0 0 5px;
}

.chatbot header img {
  width: 83px;
  height: 80px;
}

.chatbot .chatbox {
  height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 3.1rem;
}

.chatincoming {
  display: flex;
}

.texto1 {
  font-size: 13px;
  margin-left: 20%;
  margin-top: 20%;
}

.text_select_lang {
  font-size: 13px;
  margin-top: 6rem;
  margin-bottom: 2rem;
  text-align: center;
}
.idiomas {
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  background-color: #d9d9d9;
}
.container_button {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  row-gap: 2rem;
}
.guardar {
  background-color: #17c3ce;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.guardar p {
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 0.3rem;
}
.linea {
  margin-top: 50px;
}

.barras {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.linea2 {
  margin-top: 80px;
}
.footer_area {
  z-index: 100000000;
  position: absolute;
  border-top: 2px solid #d8d8d8;
  padding-bottom: 0.8rem;
  padding-left: 0.8rem;
  padding-top: 0.8rem;
  bottom: 0;
  width: 100%;
  background: #eeeeee;
}
.footer_area_cap2 {
  z-index: 100000000;
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  border-top: 2px solid #d8d8d8;
  padding: 0.8rem;
  bottom: 0;
  width: 100%;
  background: #eeeeee;
}
.lenguaje {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.lenguaje .bandera {
  padding-left: 10px;
}
.español {
  padding-left: 18px;
}
.arabe {
  padding-left: 33px;
}
.ruso {
  padding-left: 38px;
}
.frances {
  padding-left: 17px;
}
.flechabajo {
  height: 13px;
  padding-left: 65px;
  padding-top: 5px;
}
.ingles {
  padding-left: 70px;
}

.bandera {
  width: 1.5rem;
  height: 1.5rem;
}

/*MODAL EXIT*/
.container_modal {
  z-index: 1000000;
  top: 0;
  position: absolute;
  background-color: rgba(44, 44, 44, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #ffffff;
  border-radius: 1.8rem;
  width: 13rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_button {
  background-color: #17c3ce;
  border-radius: 0.5rem;
  width: 8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_button_modal {
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}

/* FORM */
.form_container {
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
  padding: 2rem 3rem 0rem 2rem;
  align-items: center;
}
.form_tittle {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}
.btn_container {
  display: flex;
  column-gap: 1rem;
  width: 100%;
  justify-content: center;
}

/*CAP 2*/
