.content_header_cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1.5rem;
}

.card_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  row-gap: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card_header h2 {
  color: var(--color-purple);
  font-size: 1.5rem;
}

.card_header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  .card_header_content {
    row-gap: 1rem;
  }

  .card_data {
    width: 100%;
    align-items: center;
    flex-shrink: 0;
  }
}

.card_header_content h3 {
  color: var(--color-text-span);
  font-size: 1rem;
}

.card_data {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.card_data_header {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--color-text-span);
}

.card_data p {
  font-size: 3rem;
}

/* asd */
.content_header_view {
  display: flex;
  column-gap: 1rem;
  background-color: var(--color-white);
  align-items: center;
  justify-content: center;
  padding-block: 0.8rem;
  padding-inline: 1rem;
  border-radius: 10px;
  height: 100%;
}

.content_header_view svg {
  cursor: pointer;
  color: var(--color-gray-2);
  transition: all 0.3s ease-in-out;
}

.content_header_view svg:nth-child(1) {
  color: var(--color-purple);
}

.content_header_view svg:hover {
  color: var(--color-purple);
}

.content_header select {
  padding-block: 0.8rem;
  padding-inline: 1rem;
  border: 1px solid var(--color-white);
  background-color: var(--color-white);
  outline: none;
  border-radius: 10px;
  width: fit-content;
}

.content_header input {
  padding-block: 0.8rem;
  padding-inline: 1rem;
  border: 1px solid var(--color-gray);
  outline: none;
  border-radius: 10px;
  width: 40%;
}

.content_button_add {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  /* background-color: var(--color-white); */
  background-color: var(--color-purple);
  color: var(--color-white);
  align-items: center;
  justify-content: center;
  padding-block: 0.8rem;
  padding-inline: 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.content_button_add:hover {
  background-color: var(--color-blue-dark);
  /* background-color: transparent;
  border: 2px solid var(--color-purple);
  color: black; */
}

/* Body */
.content_body {
  height: 100%;
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-bottom: 1rem;
  justify-items: center;
}

@media (min-width: 1441px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 80%;
  border: 1px solid transparent;
}

.card:hover {
  border: 1px solid var(--color-purple);
  transform: scale(1.05);
}

.card hr {
  border: 1px solid var(--color-gray);
}

/* .card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  column-gap: 1rem;
  height: 6rem;
}

.card_header img {
  width: 4rem;
  border-radius: 50%;
  height: 4rem;
}

.card_header hr {
  border: 1px solid var(--color-gray);
  height: 100%;
}

.card_header_name {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: flex-start;
  justify-content: center;
}

.card_header_name h3 {
  color: var(--color-text-title);
  font-size: 1rem;
}

.card_header_name span {
  color: var(--color-text-span);
  font-size: 0.8rem;
} */

.card_content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
}

.card_content_element {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.card_content_element svg {
  color: var(--color-text-span);
}

.card_content_element span {
  color: var(--color-text-span);
}
