.content {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.dashboard_content {
  padding-block: 1rem;
  padding-inline: 1rem;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .dashboard_content {
    margin-top: 2rem;
  }
}

.dashboard_content hr {
  border: 0.5px solid var(--color-gray-2);
  margin-block: 1rem;
}
